body, html{
  margin:0;
  padding:0;
  height:100%;
  font-size: 16px;
  background-color: #f4f4f4;
}
button {
  text-align: center;
  padding: 30px 100px;
  background-color:#00b212;
  color:#fff;
  border:none;
  margin-top:35%;
  margin-left: 35%;
}

button:hover{
  background-color: #008479;
}

.colored {
  background-color:#7fc0db;
}
